.itemDetailContainer {
  color: #d12b3e;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 765px) {
  .itemDetailContainer {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .itemDetailContainer {
    width: 80%;
  }
}

@media (min-width: 1500px) {
  .itemDetailContainer {
    width: 70%;
  }
}

@media (min-width: 1760px) {
  .itemDetailContainer {
    width: 70%;
  }
}
