.navbar {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.barra {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 2rem;
}

.background {
  background-color: #d12b3e;
  margin-bottom: 10px;
}

.position{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; 
}

.drop {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-right: 15px;
}

.drop:nth-last-child(4n) {
  margin-right: 0;
}
.base {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .base2 {
    gap: 1rem;
  }
}

@media (max-width: 300px) {
  .base2 {
    flex-direction: column;
  }
}

.base2 {
  display: flex;
  align-items: center;
}

.enlaceNavbar {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  transition: transform 0.3s ease;
}

.enlaceNavbar:hover {
  transform: scale(1.2);
}
