.footerStyle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textFooter {
  color: white;
  gap: 2rem;
  transition: transform 0.3s ease;
}

.textFooter:hover {
  transform: scale(1.1);
}

.margin {
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .footerStyle {
    margin-left: 0;
  }
  .contenedorFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .desarrollo {
    width: 100%;
  }
}

.contenedorFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
