.footerStyle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 96px;
}

.textFooter {
  color: white;
  gap: 2rem;
}

.textFooter:hover {
  color: chartreuse;
}

.margin{
  margin-right: 5px;
}