body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(148, 187, 233, 1) 0%,
    rgba(238, 174, 202, 1) 100%
  );
}

footer {
  background-color: #d12b3e;
  width: 100%;
  color: white;
  margin-top: 2rem;
}

html {
  min-height: 100%;
  position: relative;
}

.productsContainer{
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}