.buttonsCart {
  display: flex;
  flex-wrap: wrap;
  color: #d12b3e;
  align-items: center;
  justify-content: space-around;
  background-color: #d12b3e;
  color: white;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 1rem;
}

.divAddToCart {
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.count {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  height: 1rem;
}

.containerCarts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
